/*--------GENERAL----------*/

    * {
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
    }
    .row::after {
        content: "";
        clear: both;
        display: block;
    }
    [class*="col-"] {
        float: left;
        padding: 15px;
    }
    html {
        font-family: "Lucida Sans", sans-serif;
        background-color: #f2f2f2;
    }
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        [class*="col-"] {
            width: 100%;
        }
        .derecha {
            text-align: center;
        }
    }

/*------FIN-GENERAL--------*/





/*--------HEADER-----------*/

    .ancho {
        width: 70%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .derecha {
        text-align: right;
    }
    .icono-verde {
        font-size: 50px !important;
        color: #45BDA4;
    }
    .ayuda {
        font-size: 35px;
        font-weight: bold;
        padding-top: 15px;
        padding-right: 20px;
    }
    .logo {
        padding: 20px 20px;
        width: 400px;
    }

/*------FIN-HEADER---------*/





/*--------PASO-1-----------*/

    .cajaNegra{
        width: 70%;
        background-color: black;
        border: 0;
        border-radius: 15px 15px 0 0;
        height: 150px;
        margin: auto;
    }
    .numeracion {
        color: white;
        margin: auto;
        text-align: center;
        font-size: 40px;
        padding-top: 50px;
    }
    .numero-activo{
        color: #FFB600;
    }
    .cajaBlanca h3{
        letter-spacing: 5px;
        margin: unset;
        padding-top: 50px;
        font-size: 40px;
    }
    .cajaBlanca{
        width: 70%;
        text-align: center;
        background-color: white;
        margin: 0 auto;
        border-radius: 0 0 15px 15px;
        height: 800px;
    }
    .formulario{
        width: 80%;
        margin: auto;
    }
    .inputIzquierda, .inputDerecha{
        width: 45%;
        margin: 5px;
    }
    .inputDerecha{
        float: right;
    }
    .inputIzquierda{
        float: left;
    }
    .formulario input{
        font-size: 14px;
        border: none;
        border-bottom: 0.5px solid #45BDA4;
        outline: none;
        width: 100%;
        margin-top: 30px;
    }
    .formulario p{
        text-align: left;
    }
    #casilla{
        text-align: left!important;
    }
    .boton*{
        background: #45BDA4;
        padding: 15px;
        border: 2px solid #45BDA4;
        border-radius: 30px;
        font-size: 15px;
        color: #f2f2f2;
    }
    .acciones{
        width: 100%;
        text-align: center;
        float: left;
    }
    .boton:hover{
        color: #45BDA4;
        background: #f2f2f2;
        border: 2px solid #45BDA4;
    }

/*------FIN-PASO-1---------*/





/*--------PASO-2-----------*/



/*------FIN-PASO-2---------*/





/*--------PASO-3-----------*/



/*------FIN-PASO-3---------*/