* {
    color: #2b2b2b;
    font-family: "Artifakt Element Light";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
hr{
    border: 7px solid #221706;
    width: 92%;
    margin: 75px auto;
    border-radius: 5px;
}
body{
    width: 100%;
    box-sizing: border-box;
}

/*--COLORES A USAR--*/
/*
#6a5c46
#e5d7cb
#221706
#362616
#756c59
*/


/*----------------------------------HEADER------------------------*/
    /*----ANUNCIOS-----*/
        .barraAnuncio{
            background-color: #221706;
            padding: 5px;
            text-align: center;
        }
        .barraAnuncio a{
            color: #e5d7cb;
            text-align: center;
            text-decoration: none;
        }

    /*----MENU----*/
        /* Style the header with a grey background and some padding */
        .header {
            overflow: hidden;
            width: 95%;
            margin: 20px auto;
        }
        /* Style the header links */
        .header a {
            float: left;
            color: black;
            text-align: center;
            padding: 12px;
            text-decoration: none;
            font-size: 18px;
            line-height: 25px;
            border-radius: 4px;
        }
        /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
        .header a.logo {
            font-size: 25px;
            font-weight: bold;
        }
        /* Change the background color on mouse-over */
        .header a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Float the link section to the right */
        .header-right {
            float: right;
        }
        /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
        @media screen and (max-width: 500px) {
            .header a {
                float: none;
                display: block;
                text-align: left;
            }
            .header-right {
                float: none;
            }
        }

/*------------------------FIN HEADER---------------------------*/



/*---------------------INDEX------------------------*/

    /*--IMG--*/
        .banner{
        width: 100%;
        margin: 0 0 10px 0;
    }
        .banner img{
        width: 100%;
    }

    /*---ENLACES---*/
        .enlacesDifPag{
            width: 85%;
        display: flex;

            margin: auto;
        }
        /* Three columns side by side */
        .column {
            display: block;
            float: left;
            width: 29%;
            padding: 0 8px;
            margin: 0 auto 16px ;
        }
        /* Display the columns below each other instead of side by side on small screens */
        @media screen and (max-width: 650px) {
            .column {
                width: 100%;
                display: block;
            }
        }
        /* Add some shadows to create a card effect */
        .loko {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
        /* Some left and right padding inside the container */
        .container {
            padding: 0 16px;
        }
        /* Clear floats */
        .container::after, .enlacesDifPag::after {
            content: "";
            clear: both;
            display: flex;
        }
        .title {
            color: grey;
        }
        .container h2{
            font-variant: small-caps;
        }
        .button {
            border: none;
            margin-bottom: 8px;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
        }
        .button:hover {
            background-color: #555;
        }
        .texto-1{
            margin: 15px 0;
        }

/*-----------------FIN INDEX------------------------*/



/*--------------------TIENDA------------------*/

    .categorias{
        width: 85%;
        margin: auto;
    }
    div.gallery {
        border: 1px solid #362616;
    }
    div.gallery:hover {
        border: 1px solid #777;
    }
    div.gallery img {
        width: 100%;
        height: auto;
    }
    div.desc {
        padding: 15px;
        text-align: center;
    }
    .responsive {
        padding: 0 6px;
        float: left;
        width: 24.99999%;
    }
    @media only screen and (max-width: 700px) {
        .responsive {
            width: 49.99999%;
            margin: 6px 0;
        }
    }
    @media only screen and (max-width: 500px) {
        .responsive {
            width: 100%;
        }
    }
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }

/*-----------------FIN TIENDA---------------*/



/*---------------------BLOG-------------------*/

    .artículosBlog{
        width: 85%;
        margin: auto;
        display: block;
    }
    .artículosBlog img{
        width: 60%;
    }
    .titulo{
        border-left: #000000 solid 2px;
        margin-left: 50px;
        padding-left: 20px;
    }
    .divNegro{
        background-color: #362616;
        display: flex;
        margin-top: 20px;
    }
    .divTexto h1, .divTexto p{
        color: white;
        margin: 25px 0 35px;
        padding-left: 72px;
        padding-right: 150px;
    }
    .divTexto li{
        color: white;
    }
    .divTexto ol{
        margin: 15px 200px;
    }
    .divImg{
        display: flex;
    }
    .divImg img{
        width: 300px;
    }

/*--------------------FIN BLOG---------------------*/



/*----------------------CONTACTO--------------------------*/

    /*----FORMULARIO------*/
        input{
            border: none;
            border-bottom: 2px solid #2b2b2b;
            border-radius: 5px;
        }
        .boton{
            background-color: #fff;
            border: 1px solid #d5d9d9;
            border-radius: 8px;
            box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
            box-sizing: border-box;
            color: #0f1111;
            cursor: pointer;
            display: inline-block;
            font-family: "Amazon Ember",sans-serif;
            font-size: 13px;
            line-height: 29px;
            padding: 0 10px 0 11px;
            position: relative;
            text-align: center;
            text-decoration: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            vertical-align: middle;
            width: 100px;
        }
        .boton:hover {
            background-color: #f7fafa;
        }
        .boton:focus {
            border-color: #008296;
            box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
            outline: 0;
        }
        .p-boton{
            margin: 10px 69px;
        }
        .formulario, .registro{
        width: 75%;
        margin: 50px auto;
    }

/*-------------------FIN CONTACTO-------------------*/



.divisor{
    height: 100px;
    border: none;
}



/*--------------------------FOOTER---------------------*/

    .pies{
        width: 100%;
        background-color: #221706;
        height: 75px;
        text-align: center;
        position: fixed;
        left: 0;
        bottom: 0;

    }
    .pies p{
        color: #e5d7cb;

    }

    /*--------REDES SOcIALES---------*/
        .rrss{
            position: relative;
            width: 300px;
            height: 65px;
        }
        .linBlack{
            width: 100%;
            height: 3px;
            background-color: black;
            border: 1px solid #000;
        }
        .marroon{
            width: 100%;
            background-color: #cea456;
        }
        .card {
            width: 290px;
            height: 50px;
            display: flex;
            align-items:center;
            justify-content: space-between;
            padding: 10px;
            border-radius: 20px;
            position: relative;
            border: 2px solid transparent;
            transition: all 0.5s ease-in-out;
        }
        .card button {
            font-size: 34px;
            background-color: transparent;
            width: 50px;
            padding: 7px;
            height: 50px;
            border-radius: 100%;
            transition: all 0.2s ease-in;
            border: 0;
            cursor: pointer;
        }

/*-------------------FIN FOOTER-------------------*/
